.header {
    background-color: #4b73b5;
    height: 76px;
    width: 100%;
}

.container {
    width: 1100px;
    margin: 0 auto;
    border: 2px solid slateblue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header__top {
    margin: 18px 20px 18px 21px;
    border: 2px solid #183034;
}

.header__logo {
    width: 120px;
    height: 36px;
    float: left;
}

.header__info {
    float: right;
}

.header__info a {
    text-decoration: none;
    color: white;
}



.aside {
    float: left;
    border: 2px solid orangered;
}

.banner {
    float: right;
    width:901px;
    height: 299px;
    border: 2px solid darkorchid;
}

.rate {
    border: 2px solid darkblue;
}

.kind__item {
    border: 2px solid mediumvioletred;
    list-style: none;
}

.offer__image img {
    border-radius: 100px;
}

.offer__list {
    list-style: none;
}

.offer__image {
    display: inline-block;
    border: 2px solid orange;
    float: left;
}

.offer__content {
    display: inline-block;
    border: 2px solid lightseagreen;
    float: left;
}
.potom-sdelat {
    background-color: greenyellow;
    height: 100px;
    width: 1100px;
}

.footer {
    background-color: #4b73b5;
}

.footer__copyright {
    display: inline-block;
    float: left;
}

.footer__logo {
    width: 120px;
    height: 36px;
    display: inline-block;
}
