/*--------------------------------------------------------------------------------------------------------------HEADER*/


.header {
    background-color: #4b73b5;
}

.container {
    width: 1100px;
    margin: 0 auto;
    border: 1px solid grey;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header__left {
    width: 50%;
    float: left;
    padding-top: 21px;
    padding-bottom: 20px;
}

.header__right {
    padding-top: 21px;
    padding-bottom: 17px;
    width: 50%;
    float: right;

}

.header__contacts {
    text-align: right;
}

a.header__number {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.header__number:hover {
    text-decoration: underline;
}

a.header__info {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    line-height: 4px;

}

a.header__info:hover {
    color: rgb(255, 255, 255);
}

/*----------------------------------------------------------------------------------------------------------------MAIN*/

ul {
    list-style: none;

}

.sidebar {
    float: left;
    list-style: none;
    width: 199px;
    box-sizing:border-box;
    border: 1px solid khaki;
    padding: 0px;
    margin: 0;

}

.nav__list {
    margin-top: 28px;
    margin-left: 15px;
    padding: 0;
    border: 1px solid red;

}

.nav__item a {
    margin: 0;
    padding: 0 0 0 37px;
    border: 1px solid green;

}

.nav__icon--link {
    padding: 0;

}

.nav__main-icon {
    background: url("../img/icons/main_icon.png") no-repeat 0 0;
    border: 1px solid rebeccapurple;
}
.nav__main-icon:hover {
    background: url("../img/icons/main_icon_hover.png") no-repeat 0 0;
}



.nav__feed-icon {
    background: url("../img/icons/feed_icon.png") no-repeat 0 0;
    border: 1px solid rebeccapurple;
}
.nav__feed-icon:hover {
    background: url("../img/icons/feed_icon_hover.png") no-repeat 0 0;
}



.nav__team-icon {
    background: url("../img/icons/feed_icon.png") no-repeat 0 0;
    border: 1px solid #99343e;
}
.nav__team-icon:hover {
    background: url("../img/icons/feed_icon_hover.png") no-repeat 0 0;
}

.nav__link {
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(75, 115, 181);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.5;
    text-decoration: none;
}

.nav__link:hover {
    color: #221f1f;
}

.main__banner {
    margin-top: 13px;
    float: right;
}

.rate {
    border: 1px solid aqua;
    clear: both;
}

.kind__list {
    border: 1px solid red;
}

.kind__item {
    float: left;
    border: 1px solid green;
}

.news {
    border: 1px solid orangered;
}

.offer__list {
    border: 1px solid darkgreen;
}

.offer__item {
    border: 1px solid darkblue;

}

.offer__image {
    display: inline-block;
}

.offer__content {
    display: inline-block;
    border: 1px solid darkmagenta;
}

/*--------------------------------------------------------------------------------------------------------------FOOTER*/

.footer {
    background-color: #4b73b5;

}

.footer__copyright {
    display: inline-block;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.286;
    width: 30%;
    border: 1px solid black;
}

.footer__copyright a {
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.footer__logo {
    display: inline-block;
    width: 30%;
    height: 37px;
    border: 1px solid yellow;
}

.footer__social {
    display: inline-block;
    width: 30%;
    border: 1px solid blue;
}


