
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto;
    overflow: hidden;
    min-width: 1440px;
    background: #ffffff;
}

.wrapper:after {
    content: "";
    display: block;
    height: 220px;
    z-index: -1000;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*HEADER*/
.header {
    min-height: 115px;
    background-color: rgb(238, 238, 238);
}

/*NAV*/
.nav__logo {
    display: block;
    float: left;
    font-size: 0;
    width: 160px;
    height: 65px;
    text-decoration: none;
    margin-top: 49px;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.nav__logo:hover {
    opacity: 0.8;
}

.nav__logo:active {
    opacity: 0.3;
}

.nav__logo-img {
    max-width: 100%;
    height: auto;
}

.nav__list {
    width: 440px;
    float: left;
    margin: 0 0 0 202px;
    padding: 75px 0 0 0;
    list-style: none;
    font-size: 0;

}

.nav__item {
    display: inline-block;
    margin-right: 47px;
    max-width: 100px;
    padding: 0;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    transition-property: color, opacity;
    transition-duration: 0.2s;
}

.nav__link:hover {
    color: #fb565a
}

.nav__link:active {
    color: #000000;
    opacity: 0.3;
}

.nav__list-bin {
    float: right;
    padding: 75px 0 0 0;
    list-style: none;
    margin: 0;
}

.nav__list-bin-link {
    padding-left: 40px;
    position: relative;
}

.nav__list-bin-link::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url("../img/cart-icon.svg") no-repeat 0 0;
    z-index: 10;
}

/*SECTION.SLIDER*/

.slider {
    margin: 0 auto;
    width: 1180px;
    height: 413px;
    position: relative;
}

.slider__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 20px;
    width: 200px;
    text-align: center;
    left: 487px;
    top: 316px;
    z-index: 100;
}

.slider__item {
    margin: 0 17px 0 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: white;
    display: inline-block;
    border: 5px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightblue;
}

.slide:nth-child(1) {
    background: url("../img/sliders/slide1.png") no-repeat 430px 17px;
}

.slide:nth-child(2) {
    background: url("../img/sliders/slide2.png") no-repeat 100% 0;
    display: none;
}

.slide:nth-child(3) {
    background: url("../img/sliders/slide3.png") no-repeat 100% 0;
    display: none;
}

.show__slide {
    display: block;
}

.slide__headline {
    padding: 0;
    margin: 77px 0 0 0;
    color: #000000;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slide__paragraph {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
    color: rgb(40, 49, 54);
    line-height: 24px;
}

.slide__link {
    display: block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fb565a;
    border-radius: 3px;
    margin-top: 40px;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.slide__link:hover {
    background-color: #e74246;
}

.slide__link:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

/*MAIN*/
.main {
    background-color: #ffffff;
}

.main__container {
    position: relative;
}

.visual-hidden {
    position: absolute;
    visibility: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: 0;
    left: 0;
}

/*SECTION_GOODS*/
.goods__list {
    list-style: none;
    margin: 0;
    padding: 80px 0 80px 0;
    border-bottom: 2px solid #eeeeee;
    font-size: 0;
}

.goods__item {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    min-height: 348px;
    background: no-repeat 0 0 #ffffff;
    margin: 0 100px 0 0;
}

.goods__item:first-child {
    background-image: url("../img/illustration-1.png");
}

.goods__item:nth-child(2) {
    background-image: url("../img/illustration-2.png");
}

.goods__item:nth-child(3) {
    background-image: url("../img/illustration-3.png");
}

.goods__item:nth-child(3n) {
    margin-right: 0;
}

.goods__item h3 {
    margin: 170px 0 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
    text-transform: uppercase;
}

.goods__item p {
    margin: 16px 0 0 0;
    padding: 0;
    color: rgb(40, 49, 54);
    font-size: 16px;
    line-height: 24px;
}

.goods__item a {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    padding: 0;
    margin: 33px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

/*BUTTONS_IN_THE_ITEMS*/
.goods__item:first-child a {
    background-color: #fb565a;
}

.goods__item:first-child a:hover {
    background-color: #e74246;
}

.goods__item:first-child a:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.goods__item:nth-child(2) a {
    background-color: #00ca74;
}

.goods__item:nth-child(2) a:hover {
    background-color: #00bc6c;
}

.goods__item:nth-child(2) a:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.goods__item:nth-child(3) a {
    background-color: #efc84a;
}

.goods__item:nth-child(3) a:hover {
    background-color: #eab534;
}

.goods__item:nth-child(3) a:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

/*SECTION_ABOUT*/
.about {
    margin: 0;
    padding: 0 0 75px 0;
    border-bottom: 2px solid #eeeeee;

}

/*FLOAT__LEFT*/
.about__left {
    float: left;
    width: 800px;
    margin: 0;
    padding: 71px 0 0 0;
}

.about__left h3 {
    width: 700px;
    margin: 0;
    padding: 0;
    font-size: 45px;
    color: #000000;
    line-height: 45px;
    font-weight: 600;

}

.about__left p {
    margin: 34px 0 0 0;
    padding: 0;
    font-size: 16px;
    color: rgb(40, 49, 54);
    line-height: 24px;
}

.about__left h4 {
    margin: 39px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.about__left-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about__left-list li {
    margin: 24px 0 0 0;
    padding: 0 0 0 36px;
    font-size: 16px;
    color: #283136;
    line-height: 24px;
    position: relative;
}

.about__left-list li:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
    left: 1px;
    background: #fb565a;
}

/*FLOAT__RIGHT*/
.about__right {
    margin: 39px 0 0 0;
    float: right;
    width: 360px;
    background: url("../img/nerds-logo.png") no-repeat 0 0 white;

}

.about__right h3 {
    margin: 243px 0 0 2px;
    padding: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
}

.about__right-list {
    list-style: none;
    margin: 13px 0 0 0;
    padding: 0;
    font-size: 0;
}

.about__right-item {
    display: inline-block;
    width: 109px;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0;
}

.about__p-top {
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 45px;
    margin: 27px 0 0 0;
}

.about__p-bottom {
    margin: 20px 0 0 0;
    padding: 0;
    color: #283136;
    font-size: 16px;
    line-height: 18px;
}

/*SECTION.BRANDS*/
.brands {
    margin: 0 0 76px 0;
    padding: 0;
    border-bottom: 2px solid #eeeeee;
}

.brands__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.brands__item {
    margin: 0 40px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.brands__item:nth-child(4) {
    margin-right: 0;
}

.brands__link {
    display: block;
    width: 260px;
    height: 180px;
    font-size: 0;
    position: relative;
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0.3;
}

.brands__link:hover {
    opacity: 1;
}

.brands__link:active {
    opacity: 0.1;
}

.brands__img {
    display: block;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*SECTION.CONTACTS*/

.contacts {
    margin: 0;
    padding: 0 0 70px 0;
}

.contacts__address {
    width: 320px;
    height: 310px;
    background: white;
    margin: 0;
    padding: 0 0 0 50px;
    top: 55px;
    left: 1040px;
    position: absolute;
    border-radius: 3px;
    z-index: 100;
}

.contacts__headline {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    width: 219px;
    margin: 47px 0 0 0;
    padding: 0;
}

.contacts__p-address {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    width: 219px;
    margin: 0;
    padding: 23px 0 0 0;

}

.contacts__p-tel {
    margin: 18px 0 0 0;
    padding: 0;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    width: 219px;
}

.contacts__link {
    display: block;
    width: 219px;
    height: 50px;
    background: #fb565a;
    border-radius: 3px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    margin: 38px 0 0 0;
    padding: 0;
    transition-property: color, background-color;
    transition-duration: 0.2s;
}

.contacts__link:hover {
    background: #e74246;
}

.contacts__link:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.contacts__map {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 416px;
    position: relative;
}

/*.contacts__map::before {*/
/*content: "";*/
/*display: block;*/
/*width: 231px;*/
/*height: 190px;*/
/*position: absolute;*/
/*background: url("../img/map-point.png");*/
/*left: 820px;*/
/*top: 90px;*/

/*}*/

.contacts__map-img {
    max-width: 100%;
    height: auto;
}

/*FOOTER*/
.footer {
    margin: -220px 0 0 0;
    z-index: 1000;
    position: relative;
    font-size: 0;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
    float: left;
}

.footer-item {
    margin: 0 0 0 10px;
    padding: 0;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;

}

.footer-item:nth-of-type(1) {
    margin-left: 0;
}

.footer__link {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e1e1e1;
    transition-property: background-color, opacity;
    transition-duration: 0.2s;
    padding: 10px 0 0 0;
}

.footer__link:hover {
    background: #e74246;
}

.footer__link:active {
    background: #d7373b;
}

.footer__link:active .footer__social-img {
    opacity: 0.2;
}

.footer__link-vk {
    padding-top: 13px;
}

.footer__social-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.footer__stock {
    display: inline-block;
    font-size: 16px;
    margin: 0 200px 0 0;
    padding: 0;
    float: right;
    width: 560px;
}

.footer__stock h3 {
    margin: 3px 0 0 0;
    padding: 0;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;

}

.footer__stock p {
    margin: 14px 0 0 0;
    padding: 0;
    color: #444444;
    font-size: 16px;
    line-height: 22px;
}

/*CATALOG.SECOND.FILE*/
.main-headline {
    padding: 78px 0 110px;
}

.main-headline h1 {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 55px;
    color: #000000;
    font-weight: 500;
    line-height: 55px;
}

/*SIDEBAR*/
.sidebar {
    float: left;
    width: 400px;
    margin: 0;
    padding: 49px 0 0 0;
}

.sidebar__form {
    width: 260px;
}

.catalog-form-fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    width: 260px;
}

.catalog-form-fieldset:nth-of-type(2) {
    margin-top: 53px;
}

.catalog-form-fieldset:nth-of-type(3) {
    margin-top: 20px;
}

.rang-top {
    position: relative;
    margin-top: 52px;
    background: #eeeeee;
    height: 80px;
    border-radius: 3px;
    padding: 0 20px;
    overflow: hidden;
}

.range-line {
    height: 2px;
    margin-top: 39px;
    background: #d7dcde;
}

.range-line .bar {
    height: 2px;
    width: 70%;
    background: #00ca74;
}

.toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ababab;
    border: 8px solid white;
    top: 30px;
    left: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.max-toggle {
    left: 160px;
}

.range-bottom {
    color: #283136;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 14px;
}

.range-bottom input {
    width: 80px;
    margin: 0 0 0 8px;
    padding: 0 10px;
    color: #283136;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    background: #eeeeee;
    border: 0;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    text-align: center;
}

.range-bottom input:first-of-type {
    margin-right: 28px;
}

.catalog-form-legend {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.sidebar__form-label {
    display: block;
    margin: 17px 0 21px 0;
    color: #283136;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
}

/*INPUT.RADIO*/

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #a6a6a6;
    box-shadow: 0 0 0 5px #a6a6a6;
    margin: 0 17px 0 5px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=radio]:not(:disabled):hover + label:not(:disabled)::before {
    box-shadow: 0 0 0 5px #4d4d4d;
    background: #4d4d4d;
    color: black;

}

input[type=radio]:disabled + label::before,
input[type=radio]:disabled + label,
input[type=checkbox]:disabled + label::before,
input[type=checkbox]:disabled + label {
    opacity: 0.6;
}

input[type=radio] ~ label::before {
    border-radius: 50%;
}

input[type=radio]:checked + label::before {
    border: 4px solid white;

}

input[type=radio] + label::before {
    border: 7px solid white;
}

/*INPUT.CHECKBOX*/
input[type=checkbox] + label {
    margin-left: 36px;
}

input[type=checkbox] ~ label::before {
    content: "";
    display: block;
    position: absolute;
    height: 23px;
    width: 23px;
    top: -2px;
    left: -35px;
    background: white;
    border: 2px solid #b8b8b8;
    transition-property: border-color;
    transition-duration: 0.2s;
}

input[type=checkbox]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -31px;
    border: 4px solid #b8b8b8;
    width: 22px;
    height: 10px;
    border-right-style: none;
    border-top-style: none;
    transform: rotate(-45deg);
    box-shadow: 5px 3px 5px 0 white;
    transition-property: border-color;
    transition-duration: 0.2s;
}

input[type=checkbox]:hover:not(:disabled) + label:not(:disabled)::before,
input[type=checkbox]:hover:not(:disabled) + label:not(:disabled)::after {
    border-color: #4d4d4d;
}

.form-link {
    width: 260px;
    height: 50px;
    display: block;
    font-size: 16px;
    color: #000000;
    line-height: 18px;
    font-weight: 500;
    border: 0;
    background: #eeeeee;
    border-radius: 3px;
    padding: 0;
    margin-top: 25px;
    cursor: pointer;
    transition-property: background-color, color, border;
    transition-duration: 0.2s;
    outline: none;
}

.form-link:hover {
    background: #dfdfdf;
}

.form-link:active {
    background: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    border-top: 3px solid #bfbfbf;
}

/*RIGTH-FROM-LEFT*/
.content {
    float: right;
    width: 760px;
    margin: 0;
    padding: 49px 0 0 0;
}

.content__p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin: 0;

}

.content__p-link {
    margin-right: 21px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
}

.content__p-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.content__p-link:active {
    color: rgba(0, 0, 0, 1);
}

.content__p-link:first-of-type {
    margin-left: 260px;
}

.content__p-link:nth-last-child(3) {
    margin-right: 44px;
}

.content__p-triangle {
    text-indent: -9999px;
    display: inline-block;
    width: 11px;
    height: 10px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    transition-property: border;
    transition-duration: 0.2s;
}

.content__p-triangle-up {
    border: 10px solid rgba(0, 0, 0, 0.3);

    border-right-width: 6px;
    border-left-width: 6px;
    border-bottom-width: 0;

    border-right-color: transparent;
    border-left-color: transparent;
    margin-right: 12px;
}

.content__p-triangle-up:hover {
    border-color: rgba(0, 0, 0, 0.5);
    border-right-color: transparent;
    border-left-color: transparent;
}

.content__p-triangle-up:active {
    border-color: rgba(0, 0, 0, 1);
    border-right-color: transparent;
    border-left-color: transparent;
}

.content__p-triangle-bottom {

    border: 10px solid rgba(0, 0, 0, 0.3);

    border-right-width: 6px;
    border-left-width: 6px;
    border-top-width: 0;

    border-right-color: transparent;
    border-left-color: transparent;
}

.content__p-triangle-bottom:hover {
    border-color: rgba(0, 0, 0, 0.5);
    border-right-color: transparent;
    border-left-color: transparent;
}

.content__p-triangle-bottom:active {
    border-color: rgba(0, 0, 0, 1);
    border-right-color: transparent;
    border-left-color: transparent;
}

/*SECTION.PORTFOLIO*/
.portfolio {
    padding: 55px 0 0 0;
}

.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.portfolio__item {
    margin: 0 40px 35px 0;
    padding: 0;
    width: 360px;
    height: 615px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: url("../img/greyheader.svg") no-repeat top left;
}

.portfolio__item:nth-of-type(2n) {
    margin-right: 0;
}

.portfolio__item:nth-last-child(1),
.portfolio__item:nth-last-child(2) {
    margin-bottom: 0;
}

.portfolio__item:hover {
    background: url("../img/blackheader.svg") no-repeat top left;
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.6);
}

.portfolio__item:hover .modal-description {
    display: block;
}

.portfolio__img {
    margin: 40px 0 0 0;
    max-width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
}

.modal-description {
    display: none;
    font-size: 16px;
    position: absolute;
    width: 360px;
    height: 230px;
    background: #eeeeee;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.modal-description-h {
    margin: 23px 0 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.modal-description-p {
    text-align: center;
    display: block;
    margin: 15px auto 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    width: 180px;
}

.modal-description-btn {
    display: block;
    background: #fb565a;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 31px auto 0;
}

.modal-description-btn:hover {
    background: #e74246;
}

.modal-description-btn:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

/*PAGINATION*/
.pagination__list {
    list-style: none;
    margin: 56px 0 60px 0;
    padding: 0;
    font-size: 0;
}

.pagination__item {
    margin: 0 10px 0 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    text-align: center;
    border: 3px solid transparent;
    border-radius: 3px;
    transition-property: color, background-color;
    transition-duration: 0.2s;
}

.pagination__item:hover {
    background: #dfdfdf;
}

.pagination__item:active {
    background: #d5d5d5;
}

.pagination__item:not(:nth-of-type(1)):active .pagination__link {
    color: rgba(0, 0, 0, 0.3);
}

.pagination__item:nth-of-type(1) {
    border: 3px solid #dbdbdb;
    background: #ffffff;
}

.pagination__item:nth-last-child(1) {
    width: 260px;
}

.pagination__link {
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 18px;
    padding: 13px 0 0 0;
    transition-property: color;
    transition-duration: 0.2s;
}

/*MODAL*/

.modal {
    width: 960px;
    height: 630px;
    position: fixed;
    top: 120px;
    left: 240px;
    background: white;
    z-index: 100000;
    box-shadow: 5px 6px 15px rgba(0, 1, 1, 0.6);
    overflow: hidden;
    display: none;
}

.modal__show {
    display: block;
}

.modal__headline {
    display: block;
    width: 760px;
    margin: 70px auto 50px auto;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    color: #000000;
    line-height: 45px;

}

.modal__form {
    width: 760px;
    height: 355px;
    margin: 0 auto;
}

.modal__form-left {
    display: inline-block;
    width: 50%;
}

.modal__form-right {
    display: inline-block;
    width: 50%;
    padding-left: 20px;
}

.modal__form label {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    outline: 0;
}

.modal__form input {
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 16px;
    color: #3f3d3c;
    margin-top: 10px;
    outline: 0;
    transition-property: border-color;
    transition-duration: 0.4s;

}

.modal__form input:hover {
    border-color: #b4b9bb;
}
.modal__form input:focus {
    border-color: black;
}
.modal__form input:invalid {
    border-color: #e74246;
    color: #e74246;
}

.label__letter {
    display: block;
    padding: 0;
    margin: 45px 0 0 0;
}

.modal__form textarea {
    display: block;
    width: 760px;
    height: 118px;
    margin: 10px 0 0 0;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 38px;
    color: #3f3d3c;
    resize: none;
    outline: 0;
    transition-property: border-color, color;
    transition-duration: 0.4s;
}

.modal__form textarea:hover {
    border-color: #b4b9bb;
}
.modal__form textarea:focus {
    border-color: black;
}

.modal__form textarea:invalid {
    border-color: #e74246;
    color: #e74246;
}

.modal__link {
    display: block;
    background: #fb565a;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 40px 0 0 0;
}

.modal__link:hover {
    background: #e74246;
}

.modal__link:active {
    background: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.modal__close {
    position: absolute;
    border: 0;
    font-size: 0;
    height: 20px;
    width: 20px;
    top: 78px;
    left: 87%;
    transform: rotate(-45deg);
    cursor: pointer;
    outline: 0;
}

.modal__close::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    background: #d7373b;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    transition-property: opacity;
}

.modal__close::after {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    background: #d7373b;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    transition-property: opacity;
}

.modal__close:hover::before,
.modal__close:hover::after {
    opacity: 1;
}
